.section-a {
    margin-top: 20px;
}

.section-c {
    margin-top: 20px;
}

.address-list {
    overflow-y: scroll;
    height: 560px;
}

.error_message {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 8px;
}
