<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Destination</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/head-side-mask-solid.svg') }}">

  <!-- Mapbox GL JS Library & CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<style>
    body { margin: 0; padding: 0; }
    html, body {
          height: 100%;
    }
    .full-height {
          height: 100%;
    }
    .section, .row {
      height: 100%;
    }
    #map { position: relative; right:0; width: 77.2%; height: 100%; zoom: -10;}

</style>
</head>

<body>
    <header style="background-color: #E23E57; display: flex; align-items: bottom">
    <a href="{{ url_for('index') }}">
      <image title='Back to home' src='./static/images/head-side-mask-solid2.svg' style="display:block;width:35px; background-color: transparent; margin: 0px; padding-left: 24px; padding-top: 19px "/>
   </a>
     <h5 style="color: #f4f4f4; background-color: transparent; padding-left: 52px; padding-top: 23px">U.S.GOAnywhereMaskON</h5>
  </header>
  <div class="section full-height">
    <div class="row">
      <div class="three columns full-height" style= "padding: 12px; background-color: #594A57;overflow-y: scroll;">
        <h4 style="color: #f4f4f4">Here's your destination info.</h4>
        <p style="color: #f4f4f4"><b>Wear Your Mask Once You Leave Your Home!</b> <b>Only Go If Necessary!</b></p>
        <p style="color: #f4f4f4">The current time is </br><b><span style='color: #70f3ff;'>{{  curr_time  }} (EST)</span></b></p>
        <p style="color: #f4f4f4">You entered: <b><font size="4"> {{ address }}</font></b>. </br></br>This address is at: ({{ lat }}, {{ lng }}).</p>
        {% if distance_from_ori %}
        <p style="color: #f4f4f4"> 
          <a href="{{ url_for('dest_info', address_text='Philadelphia_City_Hall') }}">
            Philadelphia City Hall
          </a>
          is {{ distance_from_ori }} kilometers away.
        </p>
        {% endif %}
        {% if error_message %}
        <p class="error_message">{{ error_message }}</p>
        {% else %}
        <p style="color: #f4f4f4">
          Destination zipcode: <font size="5"><strong><i>{{  zip_code  }}</i></strong></font>
          <ul>
<!--             <li><b style='color: #00207F;'>Test negative rate: {{num_neg_per}}</b></li> -->
            <b style='color: #f47983;'>Test positive rate: <font size="5">{{  num_pos_per  }}% </font></b>
          </ul>
        </p>

        <hr>
        <p style="color: #f4f4f4">Please see the following table for <b>nearby testing sites</b> with distance (in meters) to your destination, {{ address }}.</br></br>You may also access more detailed info. of each provider by clicking on their names.</p>
        <table style="color: #f4f4f4">
          <thead>
                          <th>Test Site</th>
                          <th>Address</th>
                          <th>Distance</th>
                      </thead>
                      {% for row in test_sites %}
                        <tr>
                          {% for col in row %}
                            {% if loop.index == 1 %}
                                <td><a href="{{ row['provider_url'] }}">{{ col }}</a></td>
                            {% else %}
                              {% if loop.index < 4 %}
                                {% if loop.index == 3 %}
                                  <td>{{ col }} m</td>
                                {% else %}  
                                  <td>{{ col }}</td>
                                {% endif %}
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                      </tr>
                      {% endfor %}
        </table>

        <h4 style="color: #f4f4f4">Download Results?</h4>
        <a href="{{ url_for('test_sites_download') }}" class="button">Test Sites</a>
        <a href="{{ url_for('directions_download') }}" class="button">Directions</a>
        <hr>
        <h4 style="color: #f4f4f4">Search for another destination?</h4>
        {% endif %}
        {% include 'userinput.html' %}
        <hr>
        <p style="color: #f4f4f4">Dest-Info is a Flask App with the following workflow:</p>
        <ol style="color: #f4f4f4">

            <li>User data entered in a form</li>
            <li>Form data submitted to API backend</li>
            <li>API internally uses Mapbox Geocoding API to find lng/lat of user-specified destination location</li>
            <li>Backend spatial query is run to check if the input location is inside Philadelphia.</li>
            <li>For Philadelphia locations, backend sql queries of lng/lat with covid-info datasets stored in RDS, the app returns covid info. & testing sites info at zip-code level associated with the user-specified destination.</li>
            <li>The input destination location is rendered on a map, with navigation instruction and routes from the default starting location (Philadelphia City Hall) displayed </li>
        <hr>
      </ol>
        <p style="color: #f4f4f4"><b>Explore more COVID-19 datasets in Philadelphia?</b></p>
        <a href="https://www.opendataphilly.org/dataset?q=covid" class="button">Visit OpenDataPhilly</a>
    </div>
    <!-- <div class="six columns u-max-full-width full-height"> -->
      <div id="map"></div>
    <!-- </div> -->

  </div>
</div>
  {{ html_map | safe }}

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>