<! --
  This code was adapted from:
  https://docs.mapbox.com/mapbox-gl-js/example/setstyle/
  and
  https://docs.mapbox.com/mapbox-gl-js/example/add-a-marker/
  -->

<style>
    #instructions {
      position: absolute;
      margin: 5px;
      width: 20%;
      height: 20%;
      right:0;
      top:0;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      overflow-y: scroll;
      font-family: sans-serif;
      font-size: 0.8em;
      line-height: 2em;
    }
    .duration {
      font-size: 2em;
    }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      right:0;
      height:100%;
      width: 70%;
    }
</style>

<!-- <div id="menu">
    <input
    id="streets-v11"
    type="radio"
    name="rtoggle"
    value="streets"
    checked="checked"
    />
    <label for="streets-v11">streets</label>
    <input id="light-v10" type="radio" name="rtoggle" value="light" />
    <label for="light-v10">light</label>
    <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
    <label for="dark-v10">dark</label>
    <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
    <label for="outdoors-v11">outdoors</label>
    <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
    <label for="satellite-v9">satellite</label>
</div> -->
<!-- <script>
    // mapboxgl.accessToken = '{{ mapbox_token }}';
    // var map = new mapboxgl.Map({
    //     container: 'map',
    //     style: 'mapbox://styles/mapbox/streets-v11',
    //     center: [{{ (ori_lng+dest_lng)/2 }}, {{ (ori_lat+dest_lat)/2 }}],
    //     zoom: 14
    // });

    // var marker1 = new mapboxgl.Marker()
    //     .setLngLat([{{ dest_lng }}, {{ dest_lat }}])
    //     .addTo(map);

    // var marker2 = new mapboxgl.Marker()
    //     .setLngLat([{{ ori_lng }}, {{ ori_lat }}])
    //     .addTo(map);

    // var layerList = document.getElementById('menu');
    // var inputs = layerList.getElementsByTagName('input');

    function switchLayer(layer) {
        var layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].onclick = switchLayer;
    }
</script> -->

<div class="Six columns full-height">
        <div id="map"></div>
        <div id="instructions"style="overflow-y: scroll;"></div>
          <script>
              mapboxgl.accessToken = '{{ mapbox_token }}';
              data = {{ dir_data|safe }};
              // json={{ dir_resp|safe }}.json();
              geojson = {{ geojson_str|safe }};

              var map = new mapboxgl.Map({
                  container: 'map',
                  style: 'mapbox://styles/mapbox/streets-v11',
                      center: [{{ ((dest_lng+ori_lng)/2) }}, {{ ((dest_lat+ori_lat)/2) }}],
                  zoom: 14
              });
              var marker1 = new mapboxgl.Marker()
                .setLngLat([{{ dest_lng }}, {{ dest_lat }}])
                .addTo(map);

              var marker2 = new mapboxgl.Marker()
                .setLngLat([{{ ori_lng }}, {{ ori_lat }}])
                .addTo(map);

              // var marker3 = new mapboxgl.Marker()
              //   .setLngLat([{{ test_sites_1[3] }}, {{ test_sites_1[4] }}])
              //   .addTo(map);
              // var marker4 = new mapboxgl.Marker()
              //   .setLngLat([{{ test_sites_2[3] }}, {{ test_sites_2[4] }}])
              //   .addTo(map);
              // var marker5 = new mapboxgl.Marker()
              //   .setLngLat([{{ test_sites_3[3] }}, {{ test_sites_3[4] }}])
              //   .addTo(map);

              // var layerList = document.getElementById('menu');
              // var inputs = layerList.getElementsByTagName('input');
              // Get map bounds
              var coordinates = geojson.features[0].geometry.coordinates;
              var bounds = coordinates.reduce(function (bounds, coord) {
                      return bounds.extend(coord);
                  }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
               
              map.fitBounds(bounds, {
                      padding: 150
                  });
              map.on('load', function () {
                  map.addSource('route', {
                      'type': 'geojson',
                      'data': geojson
                  });
                  map.addLayer({
                      'id': 'route',
                      'type': 'line',
                      'source': 'route',
                      'layout': {
                          'line-join': 'round',
                          'line-cap': 'round'
                      },
                      'paint': {
                          'line-color': '#6A5ACD',
                          'line-width': 7
                      }
                  });
              });
              address="{{ address|safe }}"
              instr="{{ instr|safe }}";
              // start_place="{{start_place}}";
              dir_duration={{ dir_duration|safe }};
              var instructions = document.getElementById('instructions');
              instructions.innerHTML = '<br><span class="duration">Trip duration: ' + Math.floor(dir_duration / 60) + ' min 🚗 </span></br>' + '</br>From Philadelphia City Hall to '+'<mark>'+address+'</mark></br>' + instr
          </script>
      </div>
